<div class='container padding-top-bottom'>
  <h1 class="section-title">Top 100</h1>

  <div class='row'>
    <div class="col-md-10 col-md-offset-1">
      <div class='table-responsive'>
        <table class="table table-hover">     
            <thead>
              <tr>
                <th class="text-center">Original Url</th>
                <th class="text-center">Shortened</th>
                <th class="text-center">Hit Count</th>
              </tr>
            </thead>
            <tbody>
              <% @urls.each do |url| %>
              <tr>
                <td class='original'><%= link_to "#{url.original}", url.original, :target => "blank" %></td>
                <td class='text-center short'><%= link_to "#{@host_name}#{url.short_path}", url_path(url.id), :method => 'patch', :target=> "blank" %></td>
                <td class="text-center counter"><%= url.counter %></td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>