<div class='container padding-top-bottom'>
  <h1 class="section-title">Shorten your URL</h1>
  <div class='col-md-6 col-md-offset-3'>
    <%= form_for @url, :class => 'form-inline', :role => 'form' do |f| %>
      <div class="input-group">
        <%#= f.label :original, 'Enter Url' %>
        <%= f.text_field :original, :class=> 'form-control input-lg', :placeholder => 'https://google.com', :onfocus => "this.placeholder = ''" %>
        <span class="input-group-btn">
          <%= f.submit 'Shorten Me!', :class => 'btn btn-custom btn-lg' %>
        </span>
      </div>
      <div class="form-group error">
        <% if @url.errors.any? %>
          <% @url.errors.messages.each do |param, msg| %>
            <span><%= msg.join(', ') %></span><br/>
          </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>