<div class="container padding-top-bottom">
  <h1 class="section-title">Here's your link!</h1>
  <div class="row">
    <div class='col-md-6 col-md-offset-3'>
      <h2 class="text-center short"><%= link_to "#{@link}", url_path, :method => 'patch', :target=> "blank" %></h2>
    </div>
  </div>
</div>