<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h2><%= link_to "#{@url.show_link}", url_path, :method => 'patch', :target=> "blank" %></h2>
      </div>
    </div>
  </div>
</div>