body, html{
  height: 100%;
}

.center{
  display: table;
  height: 100%;
  width: 100%;
}

.center-content{
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.navbar-brand:hover{
  text-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

#navbar li{
  margin-left:  20px;
}

#navbar li a{
  font-size: 16px;
}

#navbar li a:hover{
  background: none;
}

.padding-top-bottom {
    padding:  200px 0;
}

.section-title{
  position: relative;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 78px;
  font-weight: 100;
  letter-spacing: 0;
  text-align: center;
}

.section-title:after{
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -50px;
    background: #F17370;
}

.section-description {
    text-align: center;
    font-size: 18px;
    margin-bottom: 60px;
}

input,
.btn-custom,
.btn-custom:focus {
  font-weight: 400;
  background: #F17370;
  color: #FFFFFF;
  border-radius: 5px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.btn-custom:hover{
  color: #FFFFFF;
  background: #F26663;
}

.custom{
  color: #F17370;
}

.custom:hover{
  color: #F17370;
}

.original a{
  color: #5B5B5B;
}

.original a:hover{
  color: #090909;
  text-decoration: none;
}

.short a:hover{
  text-decoration: none;
}

/*.table tbody tr:nth-child(even){
  background-color: rgba(241, 115, 112, 0.2) ;
}*/